@import "tailwindcss";

/* Hide scrollbars for horizontal rows */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html, body {
  overflow-x: hidden;
}